@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'inter', sans-serif; 
}

.navbar-fixed{
    @apply fixed z-[9999] bg-white bg-opacity-80 dark:bg-dark dark:bg-opacity-80;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0, 0.1);
}

.hamburger-line .hamburger-line {
  transition: all 0.3s ease dark:bg-white;
}

.hamburger-active > span:nth-child(1){
    @apply origin-top-left rotate-45
}
.hamburger-active > span:nth-child(2){
    @apply scale-0;
}
.hamburger-active > span:nth-child(3){
    @apply origin-bottom-left -rotate-45
}
#dark-toggle:checked ~ label div.toggle-circle {
    @apply translate-x-3;
}